
.main-container{
    margin: 0;
    width: 100%;
  }
  .inner-container{
    padding: 17px 0;
    margin: 0px 127px;
    display: flex;
    justify-content: space-between;
  }
  
  .right {
    padding: 7px;
  }
  
  .quote-button {
    background-color: brown;
  }