body,
html {
  width: 100%;
  margin: 0;
  background-color: #fff;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
}

.home {
  text-align: center;
  margin-top: 50px;
}



form label {
  display: block;
  margin-bottom: 10px;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: #45a049;
}
